*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* to make sure that the padding and border are included in the width and height of the elements */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.hero{
    height: 450px;
    width: 100%;
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text-white{
    color: white;
}
.nav{
    height: 80px;
    width: 100%;

    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    /* ^^^y-axis: centered */
    justify-content: space-between;
}
.right{
    
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.container{
    height: 400px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.define{
    font-size: 37px;
    margin-top: 35px;
}
.search{
    margin-top: 23px;
    height: 55px;
    width: 750px;
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left:15px;
    padding-right: 15px;
}
.fi-sr-marker{
    color: red;
    font-size: 15px;
}
.fi-br-search{
    margin-left: 10px;
    font-size: 15px;
    color: rgb(80, 79, 79);
}
.city{
    height: 100%;
    width: 200px;
    font-size: 15px;
    border: none;
}
.diff{
    color: black;
    font-weight: 200;
}
.dish{
    margin-left: 10px;
    height: 100%;
    font-size: 15px;
    width: 350px;
    border: none;
}
.dish:focus{
    /* created a psuedo class becasue w/o this when clicking on the search thing, there was an outline border */
    outline: none;
}
.city:focus{
    outline: none;
}
.card{
    height: 240px;
    width:350px;
    border-radius: 15px;
    margin-top: 30px;
    border: 0.1px solid rgb(221, 221, 221);
    overflow: hidden;
    transition: all 0.1s linear;
}
.card_container{
    padding-left: 200px;
    padding-right: 200px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
}
.card img{
    height: 70%;
    width: 100%;
}
.card:hover{
    transform: scale(1.10);
    
   
}
/* x - margin-auto | text-align:center| align="center" | display:flex justify-content: center
    y-display:flex align-items: center| justify-conent: center
    x-y display: flex align-items: center justify-content: center*/